<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Last name</th>
      <th scope="col">Birthdate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=player.fname%></td>
      <td><%=player.lname%></td>
      <td><%=player.birthDate.toDateString()%></td>
    </tr>
  </tbody>
</table>
